[user]
	email = 36704600+noconnor29@users.noreply.github.com
	name = Nick OConnor
	signingKey = ~/.ssh/id_ed25519_sk_rk
[commit]
	gpgsign = true
[gpg]
	format = ssh
[tag]
	gpgsign = true
[core]
	editor = vim
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	defaultBranch = main
